
/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, Helvetica, Arial;
    text-align: center;
    background: #fff;
    color: #1D1D1F;
}

.wrapper {
    text-align: left;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}


/* Text */

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #30B0C7;
}

.description {
    margin-bottom: 40px;
}


/* Header */

header {
    background: #f5f5f7;
}

header .wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
}

header .site-logo {
    width: 32px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(7431%) hue-rotate(87deg) brightness(111%) contrast(109%);
}

nav {
    float: right;
}

nav li {
    line-height: 32px;
    display: inline-block;
    margin: 0 8px;
}

nav li a {
    color: #1D1D1F;
}

nav li a:hover {
    color: #69696b;
}

nav li a.selected {
    color: #69696b;
}


/* Home */

.hero-image {
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    border: 3px solid #6D6D72;
}

.home-title {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.home-subtitle {
    font-size: 24px;
    font-weight: 450;
    text-align: center;
    color: #6D6D72;
    margin-bottom: 60px;
}


/* Apps */

.app-group {
    margin: 40px 0;
    padding: 20px 0;
    padding-right: 160px;
    overflow: hidden;
}

.app-group h2 {
    margin: 0 0 20px 0;
}

.app-icon-column {
    width: 100px;
    float: left;
}

.app-contents-column {
    width: 100%;
    margin: 0 -140px 0 auto;
    float: right;
}

.app-icon {
    width: 100px;
    height: 100px;
    border-radius: 24px;
    border: 1px solid #6D6D72;
}

.download-badge {
    width: auto;
    height: 40px;
    margin-top: 20px;
}

.app-button-container {
    text-align: center;
}

.app-button {
    font-weight: 500;
    cursor: pointer;
    background: #30B0C7;
    color: white;
    padding: 15px 100px;
    border: none;
    border-radius: 4px;
}


/* About */

.about-section {
    margin-bottom: 40px;
}

.about-minor-section {
    margin-bottom: 30px;
}


/* Contact */

.contact-form {
    width: 60%;
    margin-top: 30px;
}

.contact-form-name-header {
    margin-bottom: 8px;
}

.contact-form-email-address-header {
    margin-top: 24px;
    margin-bottom: 8px;
}

.contact-form-message-header {
    margin-top: 24px;
}

.contact-form input[type=text], select {
    font-size: 100%;
    width: 100%;
    padding: 12px 8px;
    margin: 0;
    border: 1px solid #6D6D72;
    border-radius: 4px;
}

.contact-form input[type=email], select {
    font-size: 100%;
    width: 100%;
    padding: 12px 8px;
    margin: 0;
    border: 1px solid #6D6D72;
    border-radius: 4px;
}

.contact-form textarea {
    font-size: 100%;
    resize: none;
    width: 100%;
    height: 150px;
    padding: 12px 8px;
    margin: 0;
    border: 1px solid #6D6D72;
    border-radius: 4px;
}

.contact-form input[type=submit] {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, Helvetica, Arial;
    font-size: 100%;
    font-weight: 500;
    cursor: pointer;
    background: #30B0C7;
    color: white;
    padding: 15px 60px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    -webkit-appearance: none;
}


/* Footer */

footer {
    background: #F5F5F7;
    color: #6D6D72;
    padding: 40px 0;
    margin-top: 20px;
}


/* Dark Mode */

@media (prefers-color-scheme: dark) {
    
    /* General */
    
    body {
        background: #000;
        color: #F5F5F7;
    }
    
    
    /* Text */
    
    a {
        color: #40C8E0;
    }
    
    
    /* Header */
    
    header .site-logo {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
    }
    
    header {
        background: #1d1d1f;
    }
    
    nav li {
        color: #F5F5F7;
    }
    
    nav li a {
        color: #F5F5F7;
    }
    
    nav li a:hover {
        color: #a9a9ab;
    }
    
    nav li a.selected {
        color: #a9a9ab;
    }
    
    
    /* Home */
    
    .hero-image {
        border: 3px solid #838388;
    }
    
    .home-subtitle {
        color: #838388;
    }
    
    
    /* Apps */
    
    .app-icon {
        border: 1px solid #838388;
    }
    
    .app-button {
        background: #40C8E0;
    }
    
    
    /* Contact */
    
    .contact-form input[type=text], select {
        border: 1px solid #838388;
    }
    
    .contact-form input[type=email], select {
        border: 1px solid #838388;
    }
    
    .contact-form input[type=submit] {
        background: #40C8E0;
    }
    
    
    /* Footer */
    
    footer {
        background: #1D1D1F;
        color: #838388;
    }
}


/* Display Size */

@media(max-width: 600px) {
    
    /* General */
    
    .wrapper {
        padding: 40px 20px;
    }
    
    
    /* Contact */
    .contact-form {
        width: 100%;
    }
}
